.exhibitions
  padding 0px 0

.full-image
  display flex
  justify-content center
  align-items center
  width 100vw
  height 100vw
  max-height 600px
  overflow hidden
  img 
    height 100%
    width auto

.container
  padding 0 10vw

.header-scroll
  width 100%
  height 50px
  margin 50px 0
  overflow-x scroll
  position relative
  &::-webkit-scrollbar 
    width 5px
    height 2px    
    background darken($white, 9%)
  &::-webkit-scrollbar-track 
    background none
  &::-webkit-scrollbar-thumb 
    background-color $yellow
    width 5px
  ul
    width auto
    height 40px
    padding 0
    margin 0
    display flex
    flex-flow row
    list-style none
    flex-wrap nowrap
    li
      flex-shrink 0
      height 40px
      width auto
      border-radius 50px
      overflow hidden
      &:not(:last-child)
        margin-right 30px   
      button
        height 100%
        border none
        padding 0 25px
        line-height 40px
        text-align center
        background none
        color darken($white, 25%)
        font-size 17px
        font-weight 500
        cursor pointer
        outline none
        &:active
          color darken($white, 35%)
        &.active
          background $yellow
          color $white

.row
  @media screen and (min-width: $laptop)
    display flex
    flex-direction row
  .menu
    height 100%    
    @media screen and (min-width: $laptop)
      width 30%
      flex-shrink 0
    button
      transition all .2s ease-in-out
      position relative
      &::before
        content ""
        width 2px
        height 100%
        position absolute
        top 0
        left 0
        background $yellow
        transform-origin 50% 0%
        transform scaleY(0)
        transition all .3s ease-in-out
      &.active
        color $yellow
        opacity 1
        &::before
          transform scaleY(1)
  
  .content
    margin-top 35px
    @media screen and (min-width: $laptop)
      width 65%
      margin-left 5vw
      margin-top 0
    &-title
      font-family 'Alegreya Sans SC'
      font-size 32px
      color $black
      position relative
      display inline-block
      padding-bottom 10px
      margin 0
      margin-bottom 25px
      &::after
        content ''
        position absolute
        bottom 0px
        left 0px
        width 105%
        border-radius 2px
        height 2px
        background $yellow
    &-text
      font-size 16px
      line-height 26px      
      color rgba($black, .7)
      text-align left
.row-slider
  width 100%
  margin 50px 0
  position relative
  .slider-container
    width 100%
    height 80vw
    background none
    position relative
    @media screen and (min-width: $laptop)
      height calc(80vw / 1.78)
  .slider-item
    width 0%
    height 100%
    position absolute
    top 0
    left 0
    transition all .60s ease-in-out
    overflow hidden
    .slider-img
      width 80vw
      height 100%
      background-image url('../img/jr-atelier.jpg')
      background-size cover
      background-position center center
      // transform translateX(-20%)
      transition all .65s ease-in-out
    &.active  
      width 100%
      .slider-img
        // transform translateX(0)   
    &:nth-child(2n)
      .slider-img
        background-image url('../img/article-full.jpg')
  .slider-nav
    width 100%
    height 60px
    display flex
    flex-direction row
    align-items center
    .slider-index
      font-size 14px
      font-weight 500
      width 100px
      height 100%
      line-height 60px
      text-align center
      color rgba($black, .3)
      @media screen and (min-width: $laptop)
        width 20vw 
      span 
        margin 0 2px 
      &-current
        color $yellow
    .slider-timer
      width calc(100% - 200px)
      height 2px
      background rgba($black, .2)
      border-radius 2px
      overflow hidden
      @media screen and (min-width: $laptop)
        width calc(100% - 40vw)
      &-fill
        width 100%
        height 100%
        background $yellow
        transform-origin 0 50%
        transform scaleX(0)
        animation 0
        &.clean
          animation slider-timer-clean 1s ease-in-out !important
        &.fill
          animation slider-timer-fill 4s 0s ease-in-out
    .slider-controls
      width 100px
      height 100%
      display flex
      justify-content center
      align-items center
      @media screen and (min-width: $laptop)
        width 20vw
      .slider-prev, .slider-next
        background none
        border none
        width 32px
        height 60px
        cursor pointer
        margin 0
        padding 0        
        outline none
        opacity .3
        transition all .3s ease-in-out
        &:hover
          opacity .6
        svg 
          width 24px
          height 24px
          .icon
            fill $black