.article
  padding 0 10vw
  @media screen and (min-width: $laptop)
    padding 0 15vw  
  a
    color $yellow
  &-header
    width 100%
    display flex
    flex-direction column
  &-title
    width auto
    display inline-block
    margin 0 auto
    font-family 'Alegreya Sans SC', sans-serif
    font-size 52px
    margin-top 70px
    padding-bottom 5px
    color $grey
    position relative
    &::after
      content ""
      position absolute
      bottom 0
      left -10%
      width 120%
      height 2px
      background $yellow
      border-radius 3px
  &-about
    margin 30px auto 0 auto
    line-height 23px
  &-full-image
    width calc(100vw - 20vw)
    height calc(100vw - 20vw)
    background red
    display flex
    overflow hidden
    justify-content center
    align-items center
    margin 50px 0
    font-size 18px
    img
      height 100%
    @media screen and (min-width: $laptop)
      width 100%
      height 80vh
      img 
        width 100%
        height auto

  &-content-title
    width auto  
    display inline-block
    margin 0 auto
    font-family 'Alegreya Sans SC', sans-serif
    font-size 42px
    padding-bottom 5px
    color $grey
    position relative
    &::after
      content ""
      position absolute
      bottom 0
      left 0
      width 110%
      height 2px
      background $yellow
      border-radius 3px
     @media screen and (min-width: $laptop)
      margin 0 8vw
  
  &-content
    text-align justify
    line-height 32px
    font-size 18px
    margin-top 35px
    @media screen and (min-width: $laptop)
      padding 0 8vw    
  &-content-image
    width calc(100vw - 20vw)
    height calc(100vw - 20vw)
    display flex
    overflow hidden
    justify-content center
    align-items center
    margin 0
    margin-top 35px
    font-size 18px
    img
      height 100%
      width auto
    @media screen and (min-width: $laptop)
      width 100%
      height 550px
      img
        width auto
        height 100%
  &-content-caption
    font-size 13px
    text-align center
    line-height 21px
    opacity .7
    margin-top 10px
  
  &-share
    height auto
    padding 0
    margin 30px 0
    margin-left 10vw    
    list-style none
    display flex
    flex-direction column
    @media screen and (min-width: $laptop)
      flex-direction row
      justify-content center
      margin 45px 0
    li
      width auto
      height 40px
      line-height 40px
      margin 5px 0
      @media screen and (min-width: $laptop)
        margin 0 30px
      a
        display flex
        flex-direction row
        align-items center
        svg
          width 30px
          height 30px
          margin-right 15px
      &.facebook a
        color #3b5998
        svg
          *
            fill #3b5998
      &.twitter a
        color #00acee
        svg
          *
            fill #00acee
      &.linkedin a
        color #0077b5
        svg
          *
            fill #0077b5
  &-related
    &-title
      text-transform uppercase

