.news
  padding 0 10vw
  overflow hidden  
  &-header
    width 100%
    height auto
    margin 40px 0
    margin-top 70px
    @media screen and (min-width: $laptop)
      // margin-top 0 
    ul
      width 100%
      height 100%
      margin 0
      padding 0
      list-style none
      @media screen and (min-width: $laptop)
        display flex
        flex-direction row
      button
        display block
        padding 0 30px
        height 60px
        width 100%
        text-align left
        line-height 60px
        border none
        border-left 2px solid transparent
        font-size 14px
        color $black
        background none
        position relative     
        outline none
        cursor pointer      
        @media screen and (min-width: $laptop)
          border-left none 
          border-bottom 2px solid transparent
        &.active
          border-color $yellow
          color $yellow
        &:active
          background darken($white, 2%)
          outline none
          @media screen and (min-width: $laptop)        
            background darken($white, 2%)              

      li:not(:last-child) button::after
        content ''
        position absolute
        width 100%
        height 2px
        bottom 0
        left 0
        background darken($white, 5%)
        @media screen and (min-width: $laptop)
          width 2px
          height 100%
          left inherit 
          right 0
  &-container
    width 100%
    display flex
    flex-direction column
    @media screen and (min-width: $laptop)
      flex-direction row
      flex-wrap wrap
      justify-content space-between
      align-items flex-start
      // background red
  
  .row
    width 100%
    height 40px
    margin-bottom 40px
    display flex
    justify-content center
    align-items center
    .news-more
      width auto
      height 40px
      line-height 40px
      margin 0 auto
      padding 0 25px
      background $yellow
      border none
      border-radius 3px
      font-size 16px
      color $white
      outline none
      cursor pointer
      &:active
        background darken($yellow, 5%)
      &::before
        content ''
        width 100%


  .item
    display block
    width 100%
    height auto
    background darken($white, 2%)
    box-shadow 0 2px 3px 0 rgba($black, .1)
    border-bottom 2px solid $yellow
    margin-bottom 60px
    border-top-left-radius 3px
    border-top-right-radius 3px
    overflow hidden
    transition box-shadow .3s ease-in-out
    &:hover
      box-shadow 2px 3px 25px rgba($black, .2)
    &:active
      background darken($white, 4%)
    @media screen and (min-width: $tablet)
      width 335px
      flex-shrink 0
      margin 0 auto 60px auto
    @media screen and (min-width: $laptop)
      margin 0 0 60px 0
    &-img
      width 100%
      height 200px
      background-size cover
      background-position center center
    &-content
      padding 25px 20px
      &-category
        font-size 14px
        color $yellow
        text-transform uppercase
        font-weight 400
        margin-bottom 8px
      &-date
        font-size 16px
        color rgba($black, .5)
        margin-bottom 10px
      &-title
        text-transform capitalize
        font-family 'Alegreya Sans SC', sans-serif
        font-size 28px
        font-weight 400
        line-height 30px
        margin 0
        margin-bottom 10px
      &-text
        font-size 16px
        line-height 24px
        max-height 120px
        overflow hidden
        color rgba($black, .7)
        margin 0

      