.section-news
  position relative
  @media screen and (min-width: $laptop)  
    padding-bottom 120px  
  &-wrapper
    width 100%
    height auto
    display flex
    flex-direction column
    padding 0 10vw
    @media screen and (min-width: $laptop)
      flex-direction row
      justify-content space-around
      flex-wrap wrap
    @media screen and (min-width: $laptop-large)
      justify-content space-between
    &-item
      width 100%
      margin-top 40px
      @media screen and (min-width: $laptop)   
        width calc(100% / 4)
        min-width 300px
        margin 0 30px
        margin-top 40px
      @media screen and (min-width: $laptop-large)      
        margin 0
        margin-top 40px
      &--img
        width 100%
        height 190px
        background-size cover
      &--date
        font-size 12px
        text-transform uppercase
        color $black
        opacity 0.5
        margin 20px 0 20px 0
        // margin 15px 0 10px 0
      &--title
        color $black
        font-size 28px
        margin-bottom 20px
      &--text
        color $black
        font-size 15px
        line-height 23px
        text-align justify
        opacity .7
  &--link
    display block
    width calc(100% - 20vw)
    margin 0 10vw
    margin-top 30px
    height 70px
    line-height 70px
    text-align center
    background $gray
    border none
    color $white
    font-size 20px
    &:active
      background darken($gray, 30%)
    @media screen and (min-width: $laptop)
      width 340px
      position absolute
      bottom 0
      right 10vw
      margin 0