.section-projects
  position relative
  @media screen and (min-width: $laptop)  
    padding-bottom 120px  
  &-wrapper
    width 100%
    height auto
    display flex
    flex-direction column
    padding 0 10vw
    @media screen and (min-width: $laptop)
      flex-direction row
      justify-content space-between
      flex-wrap wrap    
    &-item
      width 100%
      padding 0 10vw
      position relative
      margin-top 60px
      @media screen and (min-width: $laptop)
        width calc(100% / 2)
        padding 0
      @media screen and (min-width: $laptop-large)
        width calc(100% / 4)
        // background red
      &--date
        left 0
        top -30px
        height 60px
        line-height 60px
        width 140px
        font-size 60px
        position absolute
        text-align center
        color $black
        opacity .3
      &--img
        width 100%
        height 325px
        background-size cover
        @media screen and (min-width: $laptop)
          width 70%
          margin 0 auto
      &--title
        width 100%
        font-size 28px
        color $black
        margin 15px 0 5px 0
        // margin 35px 0 20px 0
        @media screen and (min-width: $laptop)
          width 70%
          margin 15px auto 5px auto
      &--tags
        font-size 12px
        color $black
        opacity 0.5
        text-transform uppercase
        @media screen and (min-width: $laptop)
          width 70%
          margin 0 auto