body,html
  width: 100%
  height: 100%
  font-family 'Raleway', sans-serif
  font-weight 400
  overflow-x hidden

*, *::after, *::before
  box-sizing: border-box

h1, h2
  font-family 'Raleway', sans-serif
  font-weight 400
  
.main
  width 100vw
  height 200px
  position relative
  z-index 10
  padding-top 40px

.section
  padding-top 40px
  // background red
  &-title
    text-transform capitalize
    font-size 42px
    color $black
    padding 0 10vw
    padding-bottom 5px
    margin-bottom 0px
    position relative
    @media screen and (min-width: $laptop)
      display inline-block
    &::after
      content ""
      position absolute
      bottom 0
      left 10vw
      width calc(100% - 20vw)
      height 2px
      background $yellow
      border-radius 2px