body,html
  width: 100%
  height: 100%
  font-family 'Raleway', sans-serif
  font-weight 400
  overflow-x hidden
  cursor default

*, *::after, *::before
  box-sizing: border-box

h1, h2
  font-family 'Raleway', sans-serif
  font-weight 400
  
.main
  width 100vw
  height 200px
  position relative
  z-index 10
  padding-top 40px

.section
  padding-top 40px
  // background red
  &--title
    text-transform capitalize
    font-size 42px
    color $black
    padding 0 10vw
    padding-bottom 5px
    margin-bottom 0px
    position relative
    @media screen and (min-width: $laptop)
      display inline-block
    &::selection
      background $yellow
    &::after
      content ""
      position absolute
      bottom 0
      left 10vw
      width calc(100% - 20vw)
      height 2px
      background $yellow
      border-radius 2px
  &--link
    display block
    width calc(100% - 20vw)
    margin 0 10vw
    margin-top 30px
    height 70px
    line-height 70px
    text-align center
    background $grey
    border none
    color $white
    font-size 20px
    transition all .3s ease-in-out
    position relative
    // overflow hidden
    z-index 1
    transform translateX(0px)    
    &::before
      content ""
      position absolute
      width 30px
      height 100%
      top 0px
      left -30px
      z-index -1
      background $yellow    
      transform-origin 100% 50%
      transform scaleX(0)
      transition all .3s ease-in-out      

    // &:active
    //   background darken($grey, 30%)
    &:hover
      transform translateX(30px)
      &::before
        transform scaleX(1)
    @media screen and (min-width: $laptop)
      width 340px
      position absolute
      bottom 0
      right 10vw
      margin 0