body,html
  width: 100%
  height: 100%
  font-family 'Raleway', sans-serif
  font-weight 400
  overflow-x hidden
  cursor default
  &::-webkit-scrollbar 
    width 5px
    background darken($white, 9%)
  
  &::-webkit-scrollbar-track 
    // -webkit-box-shadow inset 0 0 6px rgba(0,0,0,0.3)
    background none
  
  &::-webkit-scrollbar-thumb 
    background-color $yellow
    width 5px
    // background none    

*, *::after, *::before
  box-sizing: border-box

h1, h2
  font-family 'Raleway', sans-serif
  font-weight 400
  
.main
  width 100%
  height 200px
  position relative
  z-index 10
  padding-top 40px

.section
  padding-top 40px
  position relative
  &--title
    text-transform capitalize
    font-size 42px
    font-family 'Alegreya Sans SC', sans-serif
    color $black
    padding 0 10vw
    padding-bottom 5px
    position relative
    -webkit-margin-after 0
    -webkit-margin-before 0
    @media screen and (min-width: $laptop)
      display inline-block
      margin-top 35px
    &::selection
      background $yellow
    &::after
      content ""
      position absolute
      bottom 0
      left 10vw
      width calc(100% - 20vw)
      height 2px
      background $yellow
      border-radius 2px
  &--link
    display block
    width calc(100% - 20vw)
    margin 0 10vw
    margin-top 30px
    height 70px
    line-height 70px
    text-align left
    padding-left 5vw
    background $grey
    border none
    color $white
    font-size 20px
    transition all .3s ease-in-out
    position relative
    overflow hidden
    border-radius 3px
    z-index 1
    transform translateX(0px)    
    &::after
      content ""
      position absolute
      width 150px
      height 150px
      border-radius 50%
      top calc(-50% - 5px)
      left calc(50% - 75px)
      z-index -1
      background $yellow    
      transform-origin 50% 50%
      transform scale(0.7)
      background rgba(0,0,0,.25)
      opacity 0
      transition transform .45s ease-in-out, opacity .2s .15s ease-in-out      
      border-radius 3px
    &:hover
      &::after
        transition transform .45s ease-in-out, opacity .2s ease-in-out      
        transform scale(3)
        opacity 1
    @media screen and (min-width: $laptop)
      width 340px
      position absolute
      bottom 0
      right 10vw
      margin 0
      padding-left 2vw

.icon
  fill $white
  // stroke $white
  // stroke-width 1
  // stroke-linecap round
  // stroke-linejoin round